.pt-openantrag .antragstabelle {
	display: table;
}

.pt-openantrag .antragstabelle .antrag {
	display: table-row;
}
.pt-openantrag .antragstabelle a.antrag:hover {
	background-color: #ddd;
}

.pt-openantrag .antragstabelle .antrag > div, .pt-openantrag .antragstabelle .antrag > span {
	display: table-cell;
	border-top: 1px solid #ddd;
	padding: 5px;
	color: black;
}

.pt-openantrag .antragstabelle .antrag.head > div{
	font-weight: bold;
	border-top: none;
}

.pt-openantrag .antragstabelle .antrag .stepcolor {
	width: 40px;
}